@model EPiServer.Reference.Commerce.Site.Features.Search.Models.SearchViewModel<EPiServer.Reference.Commerce.Site.Features.Search.Models.FashionNode>
<div class="container-fluid">
    <div class="row category-page">
        <div class="col-sm-12">
            <h2>@Html.PropertyFor(x => x.CurrentContent.DisplayName)</h2>
        </div>
        @using (Html.BeginForm("Index", "Category", FormMethod.Get, new { @class = "jsSearchForm" }))
        {
            @Html.Partial("_Facet", Model.FormModel)
            <div class="col-sm-9">
                @Html.Partial("_ProductList", Model.ProductViewModels)
            </div>
            
            <div class="col-sm-9">
                <div class="row">
                    <h3>Associations</h3>
                    @foreach (var productModel in Model.Associations)
                    {
                        Html.RenderPartial("_ProductTile", productModel);
                    }
                </div>
            </div>
            
            <input class="jsSearchPage" hidden id="FormModel_Page" name="FormModel.Page" type="text" value="@(Model.FormModel.Page + 1)" />
        }
        
        @Html.ContentLink(Model.CurrentContent.ContentLink, new { }, new { @style = "visible: false", @class = "mainNodeUrl" })
    </div>
</div>